dsr1-fp4-mi355x-sglang:
  image: lmsysorg/sglang:v0.5.8-rocm700-mi35x
  model: amd/DeepSeek-R1-0528-MXFP4-Preview
  model-prefix: dsr1
  runner: mi355x
  precision: fp4
  framework: sglang
  multinode: false
  seq-len-configs:
  - isl: 1024
    osl: 1024
    search-space:
    - { tp: 4, conc-start: 4, conc-end: 64 }
    - { tp: 8, conc-start: 4, conc-end: 64 }
  - isl: 1024
    osl: 8192
    search-space:
    - { tp: 8, conc-start: 4, conc-end: 64 }
  - isl: 8192
    osl: 1024
    search-space:
    - { tp: 8, conc-start: 4, conc-end: 64 }

dsr1-fp4-mi355x-atom:
  image: rocm/atom:rocm7.1.1-ubuntu24.04-pytorch2.9-atom0.1.1-MI350x
  model: amd/DeepSeek-R1-0528-MXFP4-Preview
  model-prefix: dsr1
  runner: mi355x
  precision: fp4
  framework: atom
  multinode: false
  seq-len-configs:
  - isl: 1024
    osl: 1024
    search-space:
    - { tp: 4, ep: 1, conc-start: 32, conc-end: 128 }
    - { tp: 8, ep: 1, conc-start: 4, conc-end: 32 }
  - isl: 1024
    osl: 8192
    search-space:
    - { tp: 4, ep: 1, conc-start: 128, conc-end: 128 }
    - { tp: 8, ep: 1, conc-start: 4, conc-end: 128 }
  - isl: 8192
    osl: 1024
    search-space:
    - { tp: 4, ep: 1, conc-start: 4, conc-end: 128 }
    - { tp: 8, ep: 1, conc-start: 4, conc-end: 4 }

dsr1-fp8-mi300x-sglang:
  image: lmsysorg/sglang:v0.5.7-rocm700-mi30x
  model: deepseek-ai/DeepSeek-R1-0528
  model-prefix: dsr1
  runner: mi300x
  precision: fp8
  framework: sglang
  multinode: false
  seq-len-configs:
  - isl: 1024
    osl: 1024
    search-space:
    - { tp: 8, conc-start: 4, conc-end: 64 }
  - isl: 1024
    osl: 8192
    search-space:
    - { tp: 8, conc-start: 4, conc-end: 64 }
  - isl: 8192
    osl: 1024
    search-space:
    - { tp: 8, conc-start: 4, conc-end: 64 }

dsr1-fp8-mi325x-sglang:
  image: lmsysorg/sglang:v0.5.7-rocm700-mi30x
  model: deepseek-ai/DeepSeek-R1-0528
  model-prefix: dsr1
  runner: mi325x
  precision: fp8
  framework: sglang
  multinode: false
  seq-len-configs:
  - isl: 1024
    osl: 1024
    search-space:
    - { tp: 8, conc-start: 4, conc-end: 64 }
  - isl: 1024
    osl: 8192
    search-space:
    - { tp: 8, conc-start: 4, conc-end: 64 }
  - isl: 8192
    osl: 1024
    search-space:
    - { tp: 8, conc-start: 4, conc-end: 64 }

dsr1-fp8-mi355x-sglang:
  image: lmsysorg/sglang:v0.5.8-rocm700-mi35x
  model: deepseek-ai/DeepSeek-R1-0528
  model-prefix: dsr1
  runner: mi355x
  precision: fp8
  framework: sglang
  multinode: false
  seq-len-configs:
  - isl: 1024
    osl: 1024
    search-space:
    - { tp: 8, conc-start: 4, conc-end: 64 }
  - isl: 1024
    osl: 8192
    search-space:
    - { tp: 8, conc-start: 4, conc-end: 64 }
  - isl: 8192
    osl: 1024
    search-space:
    - { tp: 8, conc-start: 4, conc-end: 64 }

gptoss-fp4-mi300x-vllm:
  image: vllm/vllm-openai-rocm:v0.14.0
  model: openai/gpt-oss-120b
  model-prefix: gptoss
  runner: mi300x
  precision: fp4
  framework: vllm
  multinode: false
  seq-len-configs:
  - isl: 1024
    osl: 1024
    search-space:
    - { tp: 1, conc-start: 64, conc-end: 64 }
    - { tp: 2, conc-start: 4, conc-end: 64 }
    - { tp: 4, conc-start: 4, conc-end: 64 }
    - { tp: 8, conc-start: 4, conc-end: 16 }
  - isl: 1024
    osl: 8192
    search-space:
    - { tp: 1, conc-start: 64, conc-end: 64 }
    - { tp: 2, conc-start: 4, conc-end: 64 }
    - { tp: 4, conc-start: 4, conc-end: 64 }
    - { tp: 8, conc-start: 4, conc-end: 16 }
  - isl: 8192
    osl: 1024
    search-space:
    - { tp: 1, conc-start: 4, conc-end: 64 }
    - { tp: 2, conc-start: 4, conc-end: 64 }
    - { tp: 4, conc-start: 4, conc-end: 64 }
    - { tp: 8, conc-start: 4, conc-end: 16 }

gptoss-fp4-mi325x-vllm:
  image: vllm/vllm-openai-rocm:v0.14.0
  model: openai/gpt-oss-120b
  model-prefix: gptoss
  runner: mi325x
  precision: fp4
  framework: vllm
  multinode: false
  seq-len-configs:
  - isl: 1024
    osl: 1024
    search-space:
    - { tp: 1, conc-start: 4, conc-end: 64 }
    - { tp: 2, conc-start: 4, conc-end: 64 }
    - { tp: 4, conc-start: 4, conc-end: 64 }
    - { tp: 8, conc-start: 4, conc-end: 64 }
  - isl: 1024
    osl: 8192
    search-space:
    - { tp: 1, conc-start: 64, conc-end: 64 }
    - { tp: 2, conc-start: 4, conc-end: 64 }
    - { tp: 4, conc-start: 64, conc-end: 64 }
    - { tp: 8, conc-start: 4, conc-end: 64 }
  - isl: 8192
    osl: 1024
    search-space:
    - { tp: 1, conc-start: 4, conc-end: 64 }
    - { tp: 2, conc-start: 4, conc-end: 8 }
    - { tp: 4, conc-start: 4, conc-end: 8 }
    - { tp: 8, conc-start: 4, conc-end: 16 }

gptoss-fp4-mi355x-vllm:
  image: rocm/7.0:rocm7.0_ubuntu_22.04_vllm_0.10.1_instinct_20250927_rc1
  model: openai/gpt-oss-120b
  model-prefix: gptoss
  runner: mi355x
  precision: fp4
  framework: vllm
  multinode: false
  seq-len-configs:
  - isl: 1024
    osl: 1024
    search-space:
    - { tp: 1, conc-start: 4, conc-end: 128 }
    - { tp: 4, conc-start: 4, conc-end: 8 }
    - { tp: 8, conc-start: 4, conc-end: 16 }
  - isl: 1024
    osl: 8192
    search-space:
    - { tp: 1, conc-start: 4, conc-end: 128 }
    - { tp: 4, conc-start: 4, conc-end: 8 }
    - { tp: 8, conc-start: 4, conc-end: 16 }
  - isl: 8192
    osl: 1024
    search-space:
    - { tp: 1, conc-start: 4, conc-end: 128 }
    - { tp: 4, conc-start: 4, conc-end: 4 }
    - { tp: 8, conc-start: 4, conc-end: 8 }

gptoss-fp4-mi355x-atom:
  image: rocm/atom:rocm7.1.1-ubuntu24.04-pytorch2.9-atom0.1.1-MI350x
  model: openai/gpt-oss-120b
  model-prefix: gptoss
  runner: mi355x
  precision: fp4
  framework: atom
  multinode: false
  seq-len-configs:
  - isl: 1024
    osl: 1024
    search-space:
    - { tp: 1, conc-start: 16, conc-end: 128 }
    - { tp: 8, ep: 1, conc-start: 4, conc-end: 32 }
  - isl: 1024
    osl: 8192
    search-space:
    - { tp: 1, conc-start: 16, conc-end: 128 }
    - { tp: 8, ep: 1, conc-start: 4, conc-end: 64 }
  - isl: 8192
    osl: 1024
    search-space:
    - { tp: 1, conc-start: 4, conc-end: 128 }
    - { tp: 8, ep: 1, conc-start: 4, conc-end: 16 }

dsr1-fp8-mi355x-atom:
  image: rocm/atom:rocm7.1.1-ubuntu24.04-pytorch2.9-atom0.1.1-MI350x
  model: deepseek-ai/DeepSeek-R1-0528
  model-prefix: dsr1
  runner: mi355x
  precision: fp8
  # WIP framwork (no customers yet)
  framework: atom
  multinode: false
  seq-len-configs:
  - isl: 1024
    osl: 1024
    search-space:
    - { tp: 8, conc-start: 4, conc-end: 128 }
  - isl: 1024
    osl: 8192
    search-space:
    - { tp: 8, conc-start: 4, conc-end: 128 }
  - isl: 8192
    osl: 1024
    search-space:
    - { tp: 8, conc-start: 4, conc-end: 128 }

dsr1-fp8-mi355x-sglang-disagg:
  image: rocm/sgl-dev:sglang-0.5.6.post1-rocm700-mi35x-mori-0113
  model: deepseek-ai/DeepSeek-R1-0528
  model-prefix: dsr1
  runner: mi355x-disagg
  precision: fp8
  framework: sglang-disagg
  multinode: true
  disagg: true
  seq-len-configs:
  - isl: 1024
    osl: 1024
    search-space:
    # MTP configurations
    # "Top of curve" (1 prefill worker at DEP8 and 1 decode worker at DEP16)
    - spec-decoding: "mtp"
      conc-list: [ 2048 ]
      prefill:
        num-worker: 1
        tp: 1
        ep: 8
        dp-attn: true
        additional-settings:
        - "PREFILL_NODES=1"
      decode:
        num-worker: 1
        tp: 1
        ep: 16
        dp-attn: true
        additional-settings:
        - "DECODE_NODES=2"
        - "DECODE_MTP_SIZE=2"

    # "Middle of curve" (1 prefill worker at DEP8 and 2 decode workers each at DEP8)
    - spec-decoding: "mtp"
      conc-list: [ 256, 512, 1024 ]
      prefill:
        num-worker: 1
        tp: 1
        ep: 8
        dp-attn: true
        additional-settings:
        - "PREFILL_NODES=1"
      decode:
        num-worker: 2
        tp: 1
        ep: 8
        dp-attn: true
        additional-settings:
        - "DECODE_NODES=2"
        - "DECODE_MTP_SIZE=2"


    # "Bottom of curve" (1 prefill worker at TEP8 and 2 decode workers at TEP8)
    - spec-decoding: "mtp"
      conc-list: [ 32, 64, 128 ]
      prefill:
        num-worker: 1
        tp: 8
        ep: 8
        dp-attn: false
        additional-settings:
        - "PREFILL_NODES=1"

      decode:
        num-worker: 2
        tp: 8
        ep: 8
        dp-attn: false
        additional-settings:
        - "DECODE_NODES=2"
        - "DECODE_MTP_SIZE=2"

    # non-MTP configurations
    # "Top of curve" (1 prefill workers each at DEP8 and 1 decode workers at DEP16)
    - spec-decoding: "none"
      conc-list: [ 2048 ]
      prefill:
        num-worker: 1
        tp: 1
        ep: 8
        dp-attn: true
        additional-settings:
        - "PREFILL_NODES=1"
      decode:
        num-worker: 1
        tp: 1
        ep: 16
        dp-attn: true
        additional-settings:
        - "DECODE_NODES=2"
        - "DECODE_MTP_SIZE=0"

    # "Middle of curve" (1 prefill workers each at DEP8 and 2 decode workers at DEP8)
    - spec-decoding: "none"
      conc-list: [ 256, 512, 1024 ]
      prefill:
        num-worker: 1
        tp: 1
        ep: 8
        dp-attn: true
        additional-settings:
        - "PREFILL_NODES=1"
      decode:
        num-worker: 2
        tp: 1
        ep: 8
        dp-attn: true
        additional-settings:
        - "DECODE_NODES=2"
        - "DECODE_MTP_SIZE=0"


    # "Bottom of curve" (1 prefill worker at TEP8 and 2 decode workers at TEP8)
    - spec-decoding: "none"
      conc-list: [ 32, 64, 128 ]
      prefill:
        num-worker: 1
        tp: 8
        ep: 8
        dp-attn: false
        additional-settings:
        - "PREFILL_NODES=1"

      decode:
        num-worker: 2
        tp: 8
        ep: 8
        dp-attn: false
        additional-settings:
        - "DECODE_NODES=2"
        - "DECODE_MTP_SIZE=0"

  - isl: 8192
    osl: 1024
    search-space:
    # MTP configurations
    # "Top of curve" (1 prefill worker at DEP8 and 1 decode worker at DEP16)
    - spec-decoding: "mtp"
      conc-list: [ 2048 ]
      prefill:
        num-worker: 1
        tp: 1
        ep: 8
        dp-attn: true
        additional-settings:
        - "PREFILL_NODES=1"
      decode:
        num-worker: 1
        tp: 1
        ep: 16
        dp-attn: true
        additional-settings:
        - "DECODE_NODES=2"
        - "DECODE_MTP_SIZE=2"

    # "Middle of curve" (1 prefill worker at DEP8 and 2 decode workers each at DEP8)
    - spec-decoding: "mtp"
      conc-list: [ 256, 512, 1024 ]
      prefill:
        num-worker: 1
        tp: 1
        ep: 8
        dp-attn: true
        additional-settings:
        - "PREFILL_NODES=1"
      decode:
        num-worker: 2
        tp: 1
        ep: 8
        dp-attn: true
        additional-settings:
        - "DECODE_NODES=2"
        - "DECODE_MTP_SIZE=2"


    # "Bottom of curve" (1 prefill worker at TEP8 and 2 decode workers at TEP8)
    - spec-decoding: "mtp"
      conc-list: [ 32, 64, 128 ]
      prefill:
        num-worker: 1
        tp: 8
        ep: 8
        dp-attn: false
        additional-settings:
        - "PREFILL_NODES=1"

      decode:
        num-worker: 2
        tp: 8
        ep: 8
        dp-attn: false
        additional-settings:
        - "DECODE_NODES=2"
        - "DECODE_MTP_SIZE=2"

    # non-MTP configurations
    # "Top of curve" (1 prefill workers each at DEP8 and 1 decode workers at DEP16)
    - spec-decoding: "none"
      conc-list: [ 2048 ]
      prefill:
        num-worker: 1
        tp: 1
        ep: 8
        dp-attn: true
        additional-settings:
        - "PREFILL_NODES=1"
      decode:
        num-worker: 1
        tp: 1
        ep: 16
        dp-attn: true
        additional-settings:
        - "DECODE_NODES=2"
        - "DECODE_MTP_SIZE=0"

    # "Middle of curve" (1 prefill workers each at DEP8 and 2 decode workers at DEP8)
    - spec-decoding: "none"
      conc-list: [ 256, 512, 1024 ]
      prefill:
        num-worker: 1
        tp: 1
        ep: 8
        dp-attn: true
        additional-settings:
        - "PREFILL_NODES=1"
      decode:
        num-worker: 2
        tp: 1
        ep: 8
        dp-attn: true
        additional-settings:
        - "DECODE_NODES=2"
        - "DECODE_MTP_SIZE=0"

    # "Bottom of curve" (1 prefill worker at TEP8 and 2 decode workers at TEP8)
    - spec-decoding: "none"
      conc-list: [ 32, 64, 128 ]
      prefill:
        num-worker: 1
        tp: 8
        ep: 8
        dp-attn: false
        additional-settings:
        - "PREFILL_NODES=1"

      decode:
        num-worker: 2
        tp: 8
        ep: 8
        dp-attn: false
        additional-settings:
        - "DECODE_NODES=2"
        - "DECODE_MTP_SIZE=0"


  - isl: 1024
    osl: 8192
    search-space:
    # MTP configurations
    # "Top of curve" (1 prefill workers each at DEP8 and 2 decode workers at DEP8)
    - spec-decoding: "mtp"
      conc-list: [ 2048 ]
      prefill:
        num-worker: 1
        tp: 1
        ep: 8
        dp-attn: true
        additional-settings:
        - "PREFILL_NODES=1"
      decode:
        num-worker: 1
        tp: 1
        ep: 16
        dp-attn: true
        additional-settings:
        - "DECODE_NODES=2"
        - "DECODE_MTP_SIZE=2"


    # "Middle of curve" (1 prefill worker at DEP8 and 2 decode workers each at DEP8)
    - spec-decoding: "mtp"
      conc-list: [ 256, 512, 1024 ]
      prefill:
        num-worker: 1
        tp: 1
        ep: 8
        dp-attn: true
        additional-settings:
        - "PREFILL_NODES=1"
      decode:
        num-worker: 2
        tp: 1
        ep: 8
        dp-attn: true
        additional-settings:
        - "DECODE_NODES=2"
        - "DECODE_MTP_SIZE=2"


    # "Bottom of curve" (1 prefill worker at TEP8 and 2 decode workers at TEP8)
    - spec-decoding: "mtp"
      conc-list: [ 32, 64, 128 ]
      prefill:
        num-worker: 1
        tp: 8
        ep: 8
        dp-attn: false
        additional-settings:
        - "PREFILL_NODES=1"

      decode:
        num-worker: 2
        tp: 8
        ep: 8
        dp-attn: false
        additional-settings:
        - "DECODE_NODES=2"
        - "DECODE_MTP_SIZE=2"

    # non-MTP configurations
    # "Top of curve" (1 prefill workers each at DEP8 and 1 decode workers at DEP16)
    - spec-decoding: "none"
      conc-list: [ 2048 ]
      prefill:
        num-worker: 1
        tp: 1
        ep: 8
        dp-attn: true
        additional-settings:
        - "PREFILL_NODES=1"
      decode:
        num-worker: 1
        tp: 1
        ep: 16
        dp-attn: true
        additional-settings:
        - "DECODE_NODES=2"
        - "DECODE_MTP_SIZE=0"

    # "Middle of curve" (1 prefill workers each at DEP8 and 2 decode workers at DEP8)
    - spec-decoding: "none"
      conc-list: [ 256, 512, 1024 ]
      prefill:
        num-worker: 1
        tp: 1
        ep: 8
        dp-attn: true
        additional-settings:
        - "PREFILL_NODES=1"
      decode:
        num-worker: 2
        tp: 1
        ep: 8
        dp-attn: true
        additional-settings:
        - "DECODE_NODES=2"
        - "DECODE_MTP_SIZE=0"

    # "Bottom of curve" (1 prefill worker at TEP8 and 2 decode workers at TEP8)
    - spec-decoding: "none"
      conc-list: [ 32, 64, 128 ]
      prefill:
        num-worker: 1
        tp: 8
        ep: 8
        dp-attn: false
        additional-settings:
        - "PREFILL_NODES=1"
      decode:
        num-worker: 2
        tp: 8
        ep: 8
        dp-attn: false
        additional-settings:
        - "DECODE_NODES=2"
        - "DECODE_MTP_SIZE=0"
